In [1]:
import pandas as pd
ratings=pd.read_csv('./data/ratings.csv',sep=',')
movies=pd.read_csv('./data/movies.csv',sep=',')

In [2]:
ratings.shape, ratings['movieId'].nunique(),movies.shape, movies['title'].nunique()
# some movie titles have more than one movieId
# movieId is not unique

((100836, 4), 9724, (9742, 3), 9737)

#### Find duplicated movie titles that have more than one movieId

In [3]:
dup_movies=movies[movies.duplicated(subset=['title'])]['title'].tolist()
dup_movies

['Emma (1996)',
 'War of the Worlds (2005)',
 'Confessions of a Dangerous Mind (2002)',
 'Eros (2004)',
 'Saturn 3 (1980)']

In [4]:
dup_sorted = movies[movies['title'].isin(dup_movies)].sort_values(by='title', ascending=True)
dup_sorted

,movieId,title,genres
4169,6003,Confessions of a Dangerous Mind (2002),Comedy|Crime|Drama|Thriller
9106,144606,Confessions of a Dangerous Mind (2002),Comedy|Crime|Drama|Romance|Thriller
650,838,Emma (1996),Comedy|Drama|Romance
5601,26958,Emma (1996),Romance
5854,32600,Eros (2004),Drama
9135,147002,Eros (2004),Drama|Romance
2141,2851,Saturn 3 (1980),Adventure|Sci-Fi|Thriller
9468,168358,Saturn 3 (1980),Sci-Fi|Thriller
5931,34048,War of the Worlds (2005),Action|Adventure|Sci-Fi|Thriller
6932,64997,War of the Worlds (2005),Action|Sci-Fi

In [5]:
# create a list of duplicated movieIds:
dup_ids = dup_sorted['movieId'].to_list()
dup_ids

[6003, 144606, 838, 26958, 32600, 147002, 2851, 168358, 34048, 64997]

In [6]:
# create a dictionary with movieIds for the films:
movie_id_dict = dict(zip(dup_ids[::2],dup_ids[1::2]))
movie_id_dict

{6003: 144606, 838: 26958, 32600: 147002, 2851: 168358, 34048: 64997}

In [7]:
# create a unique_id column 
ratings['unique_id'] = ratings['movieId'] 
movies['unique_id'] = movies['movieId']

# Replace the values of the movieId from the dictionary
ratings = ratings.replace({"unique_id": movie_id_dict}) 
movies = movies.replace({"unique_id": movie_id_dict})

In [8]:
ratings['unique_id'].nunique(), movies['unique_id'].nunique()
# there are movies that are not rated

(9719, 9737)

#### Merge movies and ratings dataframes

In [9]:
mov_rat=ratings.merge(movies, on=['unique_id'])

# check for number of unique ids
mov_rat['unique_id'].nunique()

9719

In [10]:
# export cleaned up combined dateframe
mov_rat.to_csv('./data/cleaned_df.csv')
print('cleaned df saved')

cleaned df saved